.board {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--background-light);
  clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%, 0 15px);
}

.board-header {
  background: var(--background-light);
  font-size: 1.2rem;
  padding: 5px;
  padding-left: 10px;
}

.cell-matrix {
  flex-grow: 1;

  display: grid;
  padding: 20px;

  user-select: none;
}

.board-cell.hover-row {
  background-color: rgba(155, 209, 153, 0.2);
}

.board-cell.hover-column {
  background-color: rgba(13, 226, 6, 0.2);
}

.board-cell.hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.board-cell.selected {
  border: 2px solid var(--background-light);
}

