body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#root {  
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle, #051937, #003051, #00475a, #005c4d, #006f30);
}
